<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Medium Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'common.css' %}">
  {% block css %}
  {% endblock %}
  </head>
<body>
  <nav class="custom-nav">
    <a href="{% url 'home' %}" class="navbar-brand">Convo.com</a>
    <ul class="ml-auto">
      {% if user.is_authenticated %}
      <li><a href="">Post</a></li>
      <li><a href="">Groups</a></li>
      <li><a href="">Create Group</a></li>
      <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="">Groups</a></li>
      <li><a href="{% url 'accounts:login' %}">Log In</a></li>
      <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>
  <div class="container content">
      {% block content %}
      {% endblock %}
  </div>
    
</body>
</html>